* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(24, 0, 41);
  color: white;
  margin-bottom: 10vh !important;
}

.navigation-bar {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 5vh;
}

.navigation-bar .app-name {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 2vh;
}

.navigation-bar hr {
  margin-bottom: 0;
}

hr {
  margin-bottom: 5vh;
  border: none;
  width: 150px;
  height: 2px !important;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.left {
  flex-grow: 1;
}

.center {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  flex-grow: 1;
}

span {
  margin-bottom: 5vh;
}

form {
  margin-bottom: 3vh;
}

span {
  width: 50%;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

h2 {
  margin-bottom: 5vh;
}

h3 {
  margin-top: 5vh;
}

.graph-description {
  color: gray;
  font-size: small;
  width: max-content;
}

.graph-summary {
  color: gray;
  font-size: small;
  margin-bottom: 5px;
  width: max-content;
}

.graph-div {
  margin-bottom: 2vh;
}

.results-data {
  margin-bottom: 5vh;
}

.page-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-links a {
  color: rgb(145, 129, 161);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 3vh;
  padding: 5px;
}

.page-links a:hover {
  background-color: rgb(34, 0, 88);
}
