{% extends "base.html" %} {% block head %}
<title>Data Graphs</title>
{% endblock %} {% block center %}
<h2>
  Below are graphs of the data of female job applicants before and after the
  legislation
</h2>
<span class="graph-description"
  >Based on data from an e-Recruiting Platform</span
>

<h3>Total Call-backs Men vs Women</h3>
<div class="graph-div">
  <canvas id="gender_graph" width="1000" height="500"></canvas>
</div>
<span class="graph-summary">Female applicants change after law: + 66.67%</span>
<span class="graph-summary">Female %call-backs change after law: - 17.05%</span>
<span class="graph-summary">Male applicant change after law: + 50.25%</span>
<span class="graph-summary">Male %call-backs change after law: - 9.36%</span>

<h3>Call-backs By Age</h3>
<div class="graph-div">
  <canvas id="age_graph" width="1000" height="500"></canvas>
</div>
<span class="graph-summary"
  >Call-back rates before the legislation: 3.58%, 2.38%, 3.47%, 2.69%</span
>
<span class="graph-summary"
  >Call-back rates after the legislation: 2.96%, 1.90%, 2.00%, 2.26%</span
>

<h3>Call-backs By Education</h3>
<div class="graph-div">
  <canvas id="education_graph" width="1000" height="500"></canvas>
</div>
<span class="graph-summary"
  >Call-back rates before the legislation: 3.61%, 2.45%, 1.16%</span
>
<span class="graph-summary"
  >Call-back rates after the legislation: 2.96%, 1.79%, 0.9%</span
>

<h3>Call-backs By Employer Size</h3>
<div class="graph-div">
  <canvas id="employer_graph" width="1000" height="500"></canvas>
</div>
<span class="graph-summary"
  >Call-back rates before the legislation: 4.90%, 4.08%, 10%, 5.15%</span
>
<span class="graph-summary"
  >Call-back rates after the legislation: 2.29%, 3.59%, 6.2%, 5.33%</span
>

<h3>Call-backs By GPA</h3>
<div>
  class="graph-div"<canvas id="gpa_graph" width="1000" height="500"></canvas>
</div>
<span class="graph-summary"
  >Call-back rates before the legislation: 0.6%, 4.12%, 3.40%, 0.6%</span
>
<span class="graph-summary"
  >Call-back rates after the legislation: 0.9%, 4.17%, 3.54%, 0.1%</span
>
{% endblock %}
