{% extends "base.html" %} {% block head %}
<title>Data Predictions</title>

{% endblock %} {% block center %}
<span>
  Models have been trained to predict the likelihood of women getting a job
  based on certain applicant informations. Enter your information below to find
  out your chances
</span>

<h2>Enter your information</h2>

<form action="/" method="post" class="pure-form pure-form-aligned">
  <div class="pure-control-group">
    <label for="age">Your Age</label>
    <input type="number" id="age" name="age" min="1" max="90" />
  </div>
  <div class="pure-control-group">
    <label for="highest-education">Highest Education Achieved</label>
    <select id="highest-education" name="highest-education" required>
      <option></option>
      <option>Graduate</option>
      <option>Post-Graduate</option>
      <option>Other</option>
    </select>
  </div>
  <div class="pure-control-group">
    <label for="job-role">Job Role</label>
    <select id="job-role" name="job-role" required>
      <option></option>
      <option>IT Hardware Engineer</option>
      <option>IT Mobile Developer</option>
      <option>IT Software Engineer</option>
    </select>
  </div>
  <div class="pure-control-group">
    <label for="employer-size">Number of Company Employees</label>
    <select id="employer-size" name="employer-size" required>
      <option></option>
      <option>51 - 200</option>
      <option>201 - 1000</option>
      <option>1001 - 10000</option>
      <option>> 10000</option>
    </select>
  </div>
  <div class="pure-control-group">
    <label for="education-gpa">Highest Education GPA</label>
    <select id="education-gpa" name="education-gpa" required>
      <option></option>
      <option>3.5-4.0</option>
      <option>3.0-3.5</option>
      <option>2.5-3.0</option>
      <option>< 2.5</option>
    </select>
  </div>

  <div class="pure-control-group">
    <label for="model-name">Select Preferred Model</label>
    <select id="model-name" name="model-name" required>
      <option></option>
      <option>Model 1</option>
      <option>Model 2</option>
      <option>Model 3</option>
    </select>
  </div>
  <div class="submit-button">
    <button type="submit" class="pure-button pure-button-primary">
      Submit
    </button>
  </div>
</form>

{% if results %}
<h2>Results</h2>
<div class="results-data">
  <span>
    Based on the information you provided:
    <br />
    Precision: <span id="precision">{{ results[0][1] }}</span>
    <br />
    Recall: <span id="recall">{{ results[1][1] }}</span>
    <br />
    F1 Score: <span id="f1_score">{{ results[2][1] }}</span>
    <br />
  </span>
  <span id="result"></span>
</div>
{% endif %}

<hr />

{% endblock %}
